<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JustDance-Dance Forms</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<body>
    {{!-- Navbar --}}
    {{>navbar}}


    {{!-- Dance Forms --}}
    <div class="container my-4">
        <div class="row featurette d-flex justify-content-center align-items-center" data-aos="fade-right">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading" style="font-family: 'Unna', serif; font-size: 3rem; font-style: italic;">
                    Contemporary Dance style <br>
                    <span class="text-muted" style="font-size: 22px; font-family: 'Unna', serif;">Learn from the best
                        Contemporary Dancers in Just Dance Academy</span>
                </h2>
                <p class="lead" style="font-family: 'Unna', serif;">Contemporary dance is a genre of dance performance
                    that developed during the mid-twentieth century and has since grown to become one of the dominant
                    genres for formally trained dancers throughout the world, with particularly strong popularity in the
                    U.S. and Europe.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                    style="border-radius: 30px;" width="640" height="743" src="images/DanceA.jpg" alt="">

            </div>
        </div>


        <hr class="featurette-divider">


        <div class="row featurette d-flex justify-content-center align-items-center" data-aos="fade-left" id="home1">
            <div class="col-md-7">
                <h2 class="featurette-heading" style="font-family: 'Unna', serif;font-size: 3rem; font-style: italic;">
                    Salsa Dance form <br>
                    <span class="text-muted" style="font-size: 22px; font-family: 'Unna', serif;">Learn from the best
                        Salsero (Salsa Dancers) in Just Dance Academy</span>
                </h2>
                <p class="lead" style="font-family: 'Unna', serif;">Salsa is a Latin dance associated with the music
                    genre of the same name which was first popularized in the United States in the 1960s in New York
                    City. Salsa is an amalgamation of Cuban dances such mambo, pachanga, and rumba as well as American
                    dances such as swing and tap.</p>
            </div>
            <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                    style="border-radius: 30px;" width="640" height="743" src="images/DanceB.jpg" alt="">

            </div>
        </div>


        <hr class="featurette-divider">


        <div class="row featurette d-flex justify-content-center align-items-center" data-aos="fade-right">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading" style="font-family: 'Unna', serif;font-size: 3rem; font-style: italic;">
                    Ballet Dance <br>
                    <span class="text-muted" style="font-size: 22px; font-family: 'Unna', serif;">Learn from the best
                        Ballerina in Just Dance Academy</span>
                </h2>
                <p class="lead" style="font-family: 'Unna', serif;">The history of ballet originates in 1500 in Italy.
                    Terms like “ballet” and “ball” stem from the Italian word "ballare," which means "to dance." When
                    Catherine de Medici of Italy married the French King Henry II, she introduced early dance styles
                    into court life in France.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                    style="border-radius: 30px;" width="640" height="743" src="images/DanceC.jpg" alt="">

            </div>
        </div>
    </div>

    {{!-- Footer --}}
    {{>footer}}


    {{!-- Scripts --}}
    {{>scripts}}





</body>

</html>