<!-- FOOTER -->
<!-- Subscribe me on Youtube
https://bit.ly/3m9avif
-->
<footer id="footer" class="footer-1">
    <div class="main-footer widgets-dark typo-light" data-aos="fade-up" data-aos-duration="2000">
        <div class="container">
            <div class="row">

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget subscribe no-box">
                        <h5 class="widget-title" id="company">JUST DANCE<span></span></h5>
                        <p id="company2">We provide several professional,certified and intensive training programs for
                            students
                            who are enthusiastic about dance and want to enrich their skills and make a career in the
                            field of
                            dance.</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget no-box">
                        <h5 class="widget-title">Quick Links<span></span></h5>
                        <ul class="thumbnail-widget">
                            <li class="nps">
                                <div class="thumb-content"><a href="#.">Get Started</a></div>
                            </li>
                            <li class="nps">
                                <div class="thumb-content"><a href="#.">National Events</a></div>
                            </li>
                            <li class="nps">
                                <div class="thumb-content"><a href="#.">International Events</a></div>
                            </li>
                            <li class="nps">
                                <div class="thumb-content"><a href="#.">Social Activities</a></div>
                            </li>
                            <li class="nps">
                                <div class="thumb-content"><a href="#.">News</a></div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget no-box">
                        <h5 class="widget-title">Get Started<span></span></h5>
                        <p id="company2">To get access to our Online Dancing tutorials and online workshops.</p>
                        <a class="btn" href="https://youtube.com" target="_blank">Subscribe Now</a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">

                    <div class="widget no-box">
                        <h5 class="widget-title">Connect with Us<span></span></h5>

                        <p><a href="/" title="glorythemes">JustDance.com</a></p>
                    </div>
                    <div class="social-menu">
                        <ul>
                            <li><a href="https://www.facebook.com/profile.php?id=100016082772876" target="_blank"><i
                                        class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/PranavS18421620/" target="_blank"><i
                                        class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="https://www.instagram.com/pranav.shinde_16/" target="_blank"><i
                                        class="fa fa-instagram"></i></a></li>
                            <li><a href="https://www.youtube.com" target="_blank"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>

    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>Just Dance Academy© 2021. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>